@{
    ViewData["Title"] = "Forside";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Forside</h1>
    <h2>Statisk tekst</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam mauris, tristique nec porttitor eget,
        pulvinar ut ipsum. Nunc commodo risus a diam tincidunt volutpat nec eget sem. Fusce maximus dignissim magna ut
        euismod. Nulla viverra massa nec est aliquam, venenatis efficitur quam tempus. Orci varius natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Nulla tempus faucibus lectus, in iaculis massa. Nunc quis
        ultrices quam. Praesent eleifend tortor id sapien iaculis pulvinar eget ac magna. Sed sed placerat urna.
    </p>
    <p>
        Fusce consequat mattis enim, feugiat condimentum tortor tempor quis. Quisque tempor dui felis, sed posuere nunc
        luctus in. Pellentesque molestie sit amet eros nec vehicula. Quisque luctus tincidunt ipsum, ac pulvinar magna
        fringilla in. Maecenas et aliquam purus, in semper enim. Cras risus ipsum, condimentum at lectus sed, efficitur
        finibus ligula. Fusce interdum sed ipsum vel lobortis. Vivamus id nulla convallis, malesuada leo et, volutpat
        justo.
    </p>
</body>

</html>